# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Secrets
keys/*
!keys/devops-key.pub
*.pem
.env

# Python
venv/
__pycache__/
*.pyc

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db